.maincontainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 500px;
    gap: 100px;
  
    margin: auto;
    border-radius: 75px;
}
div#container {
    display: grid;
    gap: 67px;
}

button#btn2 {
    border-radius: 20px;
}