 body{
    width:100vw;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center; 
    text-align:center;
    background-color:hsl(212, 45%, 89%);

} 


 .container{
        width:250px;
        height:410px;
        border-radius:10px;
        background-color:hsl(0, 0%, 100%);
        padding: 12px;    
}

.img img{ 
     
     width: 250px;  
     height: 220px; 
     border-radius: 15px;
  
}

    p{   
      font-size:14px;
      font-family: 'Outfit', sans-serif;
      color: hsl(220,15%,55%);
    }
     
    h2{
    font-family: 'Outfit', sans-serif;
    font-size:20px ;
    color:hsl(218, 44%, 22%);
    
}